* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --green: hsl(160deg, 100%, 30%);
  --gold-300: hsl(45deg, 100%, 50%);
  --gold-500: hsl(45deg, 100%, 40%);
  --darkest: hsl(0deg, 0%, 0%);
  --darker: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --lightest: hsl(0deg, 0%, 100%);
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
}

header {
  margin-top: 96px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  background-color: var(--lightest);
}

header, .card {
  border-bottom: 8px solid var(--medium);
}

.intro-chunk {
  width: 40ch;
}

main {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--light);
}

.indented-heading {
  background-color: var(--gold-300);
  box-shadow: 0px 8px var(--gold-500);
  width: fit-content;
  margin-left: -8px;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

strong {
  color: var(--green);
}

h1, p {
  padding-left: 16px;
  padding-right: 16px;
}

/* Add styles here! */
